<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class='main-content'>
            {{>header}}
            <p>This site was created by Marshall. It sources geolocation data from a mapbox.com api and location weather information from the weatherstack.com api.</p>
            <img id='portrait' src="/img/robot.png"/>            
        </div>

        {{>footer}}
    </body>
</html>